<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=SERVER;Initial Catalog=DATABASE;User=USER;Password=PASSWORD" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="CacheTimeout" value="3600"/>
    <add key="IsValid" value="true"/>
  </appSettings>
</configuration>